java6-rt.jar=${java.home}/lib/rt.jar
scala.home=${user.home}/lib/scala
junit.home=${user.home}/lib/junit
servlet-api.jar=lib/servlet-api.jar
jetty.jar=lib/jetty-6.1.19.jar
jetty-util.jar=lib/jetty-util-6.1.19.jar
proguard.jar=lib/proguard-4.4.jar