Source: sbaz
Section: devel
Priority: optional
Maintainer: Lex Spoon <lex@debian.org>
Standards-Version: 3.6.1
Build-Depends: scala-dev, ant, libservlet2.3-java, junit

Package: sbaz
Architecture: all
Depends: scala-library
Description: Scala Bazaars package-distribution system
 Scala Bazaars is a package-distribution system used within
 the Scala community.  It includes analogs to Debian's APT
 and dpkg.  It allows installing and uninstalling packages
 of Scala content, and it allows exchanging packages with
 relevant communities via "bazaars" on the network.
